* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 8px;
  height: 100vh;
}

.container {
  width: 512px;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
}

.container> span{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}